.title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  font-size: 36px;
  line-height: 54px;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #fff;
}
@media screen and (max-width: 539px) {
  .title {
    font-size: 20px;
  }
}