
.title    {
    font-family: 'Museo Sans Cyrl 700';
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    &_left {
        font-size: 36px;
        line-height: 1.5em;
        text-align: left;
        color: #fff;

        @include lt-xs {
            font-size: 26px;
            text-align: center;
        }
    }

    @include lt-xs {
        font-size: 20px;
    }

    
}
